.header-container{
    display: flex;
    padding: 15px 0;
    margin-top: 40px;
}
.heading{
    color: var(--red);
    font-size: 25px;
}
.header-container .line{
    width: 35px;
    height: 4px;
    margin: 20px 10px;
    border-radius: 10px;
    background-color: var(--yellow);
}